<h1>BLOG DETAIL</h1>

<div class="mt-4">
    <div class="row">
        <div class="col col-lg-9 col-md-9 col-sm-12">
            <h2>{{blog.title}}</h2>
            <i style="color: gray"><strong>Posted time: {{blog.postedTime}}</strong></i>
            <br>
            <br>
            <i>
                {{blog.desc}}
            </i>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, quaerat autem! Obcaecati et doloremque
                deserunt natus aperiam eaque eum repellat ex aspernatur, tenetur unde in ipsam illo, pariatur veritatis
                id?</p>
            </p>
        </div>

        <div class="col col-lg-3 col-md-3 col-sm-12">
            <h5 align="right">Tác giả</h5>
            <img src="https://i.pinimg.com/originals/4d/f2/d1/4df2d17ee76998ebf443e18d3b5d3d81.jpg"
                class="rounded mx-auto d-block" style="width: 90%" alt=" ...">
        </div>
    </div>
</div>